@media screen {
    
}
h1 {
    padding: 0.8rem;
    margin:1.5rem auto;
background-color: rgba(190, 24, 24, 0.622);
color: rgb(242, 248, 247);
font-family: 'Kanit', sans-serif;
font-size: 2.8rem;
}
h2{
    padding: 0.5rem;
     font-family: 'Satisfy', cursive;
     font-size: 2.1rem;
}
p{
    padding: 0.8rem;
    
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
}
ul li{
    
    padding: 0.8rem;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;


}
div{
    background-color: rgba(238, 171, 90, 0.267);
}
div img{
margin: 1rem 2rem;
padding:8rem;
}