/************************************************************************************
Small screens
*****************************************************************************************/


*{
    box-sizing: border-box;
}
.weather{
    background-color: rgba(238, 171, 90, 0.267);
    font-family:'Kanit', sans-serif ;
    font-size: 1rem;
    margin-left: 60%;
    text-align: end;
    width: fit-content;
    box-shadow:0 0 30px #3934343e ;
    border: 1px solid black;
    border-radius: 5px;
}
#title, #top, #bottom{
    display: flex;
    flex-flow: column;
}
#title h1 {
    box-shadow:0 0 30px #3934343e;
    background-color: rgba(190, 24, 24, 0.622);
    border: 1.5px solid black;
    border-radius: 14px;
    padding: 0.8rem;
    margin:1.5rem auto;
    color: rgb(242, 248, 247);
    font-family: 'Kanit', sans-serif;
    font-size: 2.8rem;
    max-height: 20%;
    text-align: center;
}
#title #logo {
    width: 10rem;
    border:none;
    box-shadow: none;
    margin: 0 auto;
    

}
li,a{
    color:black;
    text-decoration: none;
}
a:hover{
    color: rgba(200, 70, 48, 1);
    border-bottom: 3px solid rgba(163, 177, 184, 1);
}
h2{
    padding: 0.5rem;
     font-family: 'Satisfy', cursive;
     font-size: 2.1rem;
     text-align: center;
}
h3.lists{
text-align: center;
padding: 0.5rem;
margin-left: 1.5rem;
}
p{
    padding: 0.8rem;
    
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
}
nav ul {
    display:flex;
    flex-flow: column;
    flex: 1 1 450px;
    min-width: fit-content;
    border:2px solid black;
    border-radius: 20px;
    background-color: rgba(238, 171, 90, 0.267);
    margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(238, 171, 90, 0.9);

}
ul li{
    
    padding: 0.8rem;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    list-style: none;
    text-align: center;

}
#top, #bottom {
    display: flex;
}
/*div img{
    background-color: rgba(238, 171, 90, 0.267);
}*/
div img{
margin: 1rem 2rem;
padding:.2rem;
width: 85%;
border:1.5px solid rgba(190, 24, 24, 0.622);
box-shadow: 7px 3px rgba(238, 171, 90, 0.267);
}
#form_pic{
    width:20rem;
}
footer{
    background-color: rgba(238, 171, 90, 0.267);
    box-shadow:0 0 30px #3934343e ;
}
#contact{
    text-align: center;
    padding:.5rem;
}

#smedia{
    display: flex;
    flex-flow: column;
    
    width: 150px;
}
iframe{
    border: 2px solid black;
    width: fit-content;
}
img .profile{
    width: 60%;
}
.associates li{
    font-size: 1.2rem;
    color:rgb(190, 24, 24) ;
    text-align: center;
}

.procedures{
    display: block;
}

#aboutme{
    font-size: 1.4rem;
    width: fit-content;
    max-width: 80vw;
}
#aboutme h3{
    text-align: center;
}
/****************************************************************
Medium screens
************************************************************/

@media only screen and (min-width: 37.5em){
    h1 {
        font-size: 1.5rem;
    }
    nav ul{
        display:flex;
        flex-flow: row;
        width: max-content;

    }
    nav ul li{
        flex: 1 1 auto;
    }
    .weather{
        font-size: 1.3rem;
        
    }
    #hero{
position: relative;
    }
    .associates{
position: absolute;
margin-top: -800px;
margin-left: 50px;
}

.associates img{
width: 150px;
}
#form_pic{
    width: 35rem;
    margin:0 auto;
    padding: 1rem;
    margin-left: 2rem;
    position: inherit;

}
#smedia{
    flex-flow: row;
}
iframe{
    width:30rem;
    margin: 1rem;
}

/*revisar*/
smedia,#form_image{
    flex-flow: column;
    flex: 1 1 auto;
}
#associates li{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(190, 24, 24, 0.622);
        font-size: 1rem;
        font-weight: bold;
        text-shadow: #3934343e;

    }
}


/***************************************************************
Big Screens
*****************************************************************/

@media only screen and (min-width: 60em){
    .procedures{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        max-width: 95vw;
        text-align: center;
    
    }
    .left{
    grid-column: 1/2;
    
    }
    .mainproc{
    grid-column: 2/3;
    
    }
    .right{
    grid-column: 3/4;
    
    }
    h1{
        font-size: 2rem;

    }
    #title, #top, #bottom{
        flex-flow: row;}
    #hero{
    position: relative;
    }
    #associates{
    position: absolute;
    margin-top: -40rem;
    margin-left: 15rem;
    }
    #associates li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(190, 24, 24, 0.622);
    font-size: 1.5rem;
            
    }
    #form_pic{
        width: 50rem;
        margin: 0 auto;
    }
}